DATABASE_URL="mysql://root:password@localhost:3306/crustyhelpdesk"
AUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"
AUTH_PROVIDER="local"
# AUTH_PROVIDER="ldap"
# LDAP_URL="ldap://your-dc.example.com"
# LDAP_BIND_DN="CN=svc_helpdesk,OU=Service Accounts,DC=example,DC=com"
# LDAP_BIND_PASSWORD=""
# LDAP_SEARCH_BASE="OU=Users,DC=example,DC=com"
